name: Spring Pull Request Metrics

on:
  pull_request:
    types: [closed]

jobs:
  PullRequestMetrics:
    runs-on: ubuntu-latest

    steps:
    - uses: '../dist/pull_request_metrics'
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        firebase-secret: ${{ secrets.FIREBASE_SECRET }}
        firebase-url: ${{ secrets.FIREBASE_URL }}
